/* 
This file contains the styles for the portfolio website. 
It defines the layout, colors, fonts, and overall appearance of the site.
*/

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background: #061927;
    color: #ffffff;
    padding: 10px 30px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


nav {
    margin: 20px 0;
}

nav a {
    color: #ffffff;
    text-decoration: none; 
    margin: 0 15px;

}
.main-menu li{
    list-style: none;
    display: inline-flex;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

footer {
    background: #35424a;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}